#account {
    height: 100%;
    margin-top: 4%;
    text-align: center;
    background-color: #ececd2;
    padding: 10%;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.container {
    width: 50%;
    color: #85503f;;
    display: inline;
    font-size: 20px;
}

.container h3 {
    color: black;
}

#progress-bar {  
    width: 70%;
}

#info {
    margin-left: 15%;
    margin-right: 15%;
    text-align: right;
}

#info p{
    text-align: left;
}

#info button {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1% 2%;
    text-decoration: none;
    background-color: #cd794b;
}

#info button:hover {
    background-color: #cb5762;
}

.form {
    overflow: hidden;
    margin-top: 1%;
    padding: 1%;
    maring-bottom: 2%;
}
