h1 {
    text-align: center;
    margin-top: 2em;
}

.card {
    background: "light";
    width: '18rem'; 
}    

.card-body {
    text-align: center;
    padding: 20px ;
}

.listgroup-quanity
{
    text-align: center;
}

.back-button {
    float: none;
    display: inline-block;
    border-style: groove;
    border-color: #007BFF;
    background-color: #007BFF;
    border-radius: 5px;
    padding: 9px;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
}

.back-button:hover, a:hover {
    background-color: black;
}

.place-order {
    float: right;
}
