body {
    background-color: #F4F1F2;
}

#menu {
    margin-top: 12%;
    text-align: center;
    background-color: #F4F1F2;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#menu h1 {
    padding: .25%;
    color: #555A5D;
}

.amount {
    margin-left: 55%;
    font-size: 1.25em;
    width: 2.3em;
    text-align: center;
}

.menu-card {
    border-radius: 5px;
    display: inline-block;
    width: 25%;
    background-color: #ececd2;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 100%;
    margin-right: 3%;
    margin-left: 3%;
    padding: .5%;
}

#menu-icon {
    margin-top: -.5%;
    margin-left: 1.5%;
}

h3 {
    padding: 1%;
    margin-bottom: 2%;
}

input {
    margin-left: 50%;
    font-size: 1.5em;
    width: 2.5vw;
    margin: .5%;
}

.bottom-right {
    padding: 1%;
    width: 100%;
    text-align: right;
    display: inline-block;
    right: 2%;
}

.crop {
    margin-bottom: 5%;
    border: thin solid #cb5762;
    object-fit: cover;
    height: 20vw;
    width: 20vw;
}

p {
    font-size: 1.25em;
}

#description {
    text-align: left;
    margin-left: 5%;
}

#cart-icon {
    margin: 1%;
    margin-left: 3%;
    border: thin solid grey;
    box-shadow: .15em .15em .05em #263051;
}

#cart-icon:hover {
    border: thin solid lightgrey;
    box-shadow: none;
}
