body {
}

/* Style the navigation bar links */
.navbar a {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  color: white;
  text-align: center;
  padding: 14px;

}

/* Right-aligned link */
.navbar a.right {
  float: right;
}
body{
    background-color: #555A5D;
}
#menu {
    text-align: center;
    background-color: #555A5D;
}
h1{
    color: #F4F1F2;
}
.amount{
    width: 60px;
    text-align: center;
}
.menu-card {
    border: thin solid #2d3d31;
    border-radius: 15px;
    display: inline-block;
    width: 25%;
    background-color:#2E6F88;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 100%;
    margin-right: 3%;
    margin-left: 3%;
    padding: 1% 1%;
}

h3 {
    padding: 1%;
    margin-bottom: 2%;
}

input {
    margin-left: 50%;
    font-size: 1.5em;
    width: 2.5vw;
    margin: .5%;
}

.bottom-right {
    padding: 1%;
    width: 100%;
    text-align: right;
    display: inline-block;
    right: 2%;
}

.crop {
    margin-bottom: 5%;
    border: thin solid #2d3d31;
    object-fit: cover;
    height: 20vw;
    width: 20vw;
}
