body {
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  color: white;
  text-align: center;
  padding: 14px;

}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

#menu {
    text-align: center;
}

.menu-card {
    border-radius: 10px;
    box-shadow: 5px 5px #2d3d31;
    display: inline-block;
    width: 25%;
    background-color: #696965;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 33vw;
    margin-right: 3%;
    margin-left: 3%;
    padding: 2% 2%;
}

h3 {
    padding: 1%;
    margin-bottom: 2%;
}

input {
    font-size: 1.5em;
    width: 2.5vw;
    margin: .5%;
}

.bottom-right {
    padding: 1%;
    width: 60%;
    margin-top: 8%;
    text-align: right;
    display: inline-block;
    float: right;
}

.crop {
    border: medium solid #2d3d31;
    object-fit: cover;
    height: 20vw;
    width: 20vw;
}
