ul {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A3B50;
}

.navbar {
    background-color: #2E6F88;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

#right-align {
    right: 0;
    font-family: 'Raleway', sans-serif;
}


a:hover:not(.active) {
    background-color: #67B4BF;
  }
