.navbar {
    font-weight: bold;
    font-size: 1.05em;
    width: 100%;
    background-color: #cd794b;
    padding: 0;
    margin: .10%;
    font-family: 'Raleway', sans-serif;
}

/* Style the navigation bar links */
.navbar a {
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: white;
    padding: 5px 12px;

}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    background-color: #cd794b;
    padding: .25%;
    font-family: 'Raleway', sans-serif;
    z-index: 5;
}

.header h1 {
    color: white;
    margin-top: 2%;
    font-size: 2em;
    padding: 0;
}

#right-align {
    right: 10%;
    font-family: 'Raleway', sans-serif;
}

a:hover:not(.active) {
    text-decoration: none;
    background-color: #cb5762;
}

.company {
    font-size: 1em;
    text-align: center;
    color: #555A5D;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#logo {
    width: 5%;
    margin-right: 1%;
    margin-top: -1%;
}

#Byte-me {
    margin-left: -1%;
}

.footer {
    width: 100%;
    position: relative;
    height: 18%;
    background-color: #85503f;
    display: flex;
    min-height: 15%;
    flex-direction: column;
}

.footer h3 {
    color: #ececd2;
    text-align: center;
    margin-bottom: -0.5%;
    margin-left: 1%;
}

.footer p {
    color: #ececd2;
    margin-left: 1%;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1em;
}
