.progress-bar{
    margin-left: auto;
    margin-right: auto;
    position:  relative;
    height: 20px;
    width: 60%;
    background-color: white;
}

.filler{
    background: #cb5762;
    height: 100%;
    transition: width .2s ease-in;
}
